@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --breakpoint-bp-xs: 400px;
  --breakpoint-xs: 480px;
  --breakpoint-bp-sm: 540px;
  --breakpoint-bp-md: 700px;
  --breakpoint-bp-mx: 850px;
  --breakpoint-bp-lg: 900px;
  --breakpoint-bp-2xl: 1800px;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Curved Rectangle Shape using Pseudo-element */
/* .curve-shape::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 0;
  width: 100px;
  height: 100%;
  background: white;
  border-radius: 0 20% 100% 0;
  z-index: 1;
  border: 1px solid white;
  transform: translateX(-50%) translateY(-50%);
}

.curve-shape-container::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 100px;
  height: 100px;
  background: black;
  border-radius: 0 0 0 0;
  z-index: 1;
 
} */
/* .curve-shape-container::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  height: 100%;
  background: white;
  border-radius: 50% 0 0 50%;
  z-index: 1;
  border: 1px solid white;
  transform: translateX(50%) translateY(-50%);
} */

.btn-launch-app {
  position: relative;
}
